.slds-template_default{
  background-color: #fff !important;
}

.combox-container .slds-form-element__label{
	display: none !important;
}

.combox-container .combobox{
	display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.combox-container .slds-form-element__control{
	width:90% !important;
	border-radius: 20px !important;
	height: 36px !important
}

.forceAccess .footer {
    margin: 10px 10px;
}

.redirect .slds-icon-utility-forward-up{
	--sds-c-icon-color-foreground-default: #fff !important;
}

.redirect .slds-icon__container{
	--sds-c-icon-color-foreground-default: #fff !important;
}

.redirect .slds-icon-utility-forward-up.slds-icon_container{
	--sds-c-icon-color-foreground-default: #fff !important;
}